html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar-track-piece {
    background-color:#ffffff;
    /*border-left:1px solid #f1f1f1;*/
    border-radius: 2px;
}
::-webkit-scrollbar {
    width:6px;
    height:6px;
}
::-webkit-scrollbar-thumb {
    background-color:#c2c2c2;
    background-clip:padding-box;
    border:1px solid #c2c2c2;
    min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
    border:1px solid #c2c2c2;
    background-color:#c2c2c2;
}

#main{
    height: 100%;
}
.login-form {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px 15px 0 15px;
    border: 1px solid #eee;
    /*margin-top: calc(100px + 15%);*/
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.logo {
    position: absolute;
    height: 32px;
    color: #000;
    font-size: 15px;
    line-height: 32px;
    left: 5px;
    top: 15px;
    overflow: hidden;
}
.logo-slider {
    height: 32px;
    background: #fff;
    border-radius: 6px;
    margin: 16px;
    color: #000;
    font-size: 15px;
    line-height: 32px;
    padding-left: 5px;
    //overflow: hidden;
}
.complete_2{
    border: 1px solid green;
    color: green;
}
.complete_0{
    border: 1px solid red;
    color: red;
}
.complete_1{
    border: 1px solid #49a9ee;
    color: #49a9ee;
}
.ant-layout-header {
    //background: #108ee9;
    padding: 0 50px;
    height: 80px !important;
    line-height: 80px !important;
}
.ant-layout-footer{
    padding: 10px 5px !important;
}
.ant-layout-sider{
  overflow-y: hidden;
  overflow-x: hidden;
}
.footer{
    //padding: 10px 0px 10px 20px !important;
    textAlign: center;
    display: flex;
    justify-content: space-around;
    line-height: 100%;
    align-items:center;
}

.content_show{
    width: 100%;
    height: 70%;
    background-color: white;
    overflow: hidden;
}

//消息展示框样式
.message-box{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.text_area{
    margin-top: 20px;
    width: 100%;
    height: 30%;
    background-color: #eee;
}


.ad-area{
    position: absolute;
    width: 100%;
  height: 25%;
    //background-color: #9fd2f6;
    bottom: 0px;
}

.ql-toolbar{
  height: 60px !important;
}
.ql-container{
  height: calc(100% - 60px) !important;
}

.fast_login{
    width: 100px;
    height: 60px;
    position: absolute;
    right: 0px;
    bottom: -30px;
}


.icon_qq,.icon_wechat{
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    color:#43a915;
}


/*频道列表*/
ul{
    list-style-type: none;
    padding-left: 0px;
}
.channel-list > ul > li{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 1px;
}
.channel-list > ul > li > ul > li{
    padding: 5px 1px;
    border-top: 1px solid #eee;
}
#editor{min-height:200px;}

.channel-list-box{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.icon-location{
    color:#1890ff;
    font-size: 20px;
    margin-left: 2px;
}


/*富文本区域样式*/
.text_area{
  height: 25%;
  background-color: #fff;
}
.send-btn{
    position: absolute !important;
    bottom: 0px;
  right: 0px;
}


#editor{min-height:100px;}


/*麦序模块样式*/
.content-right-up{
  width: 100%;
  height: 70%;
}
.microphone_area{
  width: 100%;
  height: 100%;
    //height: 350px;
    .avatar-area{
        text-align: center !important;
        width: 100%;
        height: 300px;
        img{
            width: 100%;
            height: 260px;
        }
        .user-name{
            /*width: 150px;
            line-height: 16px;*/
            background-color: #eee;
        }
        //background-color: #9fd2f6;
    }
    .microphone-a{
        text-align: center;
        .online-total{
            padding: 0px 0px 8px 0px;
        }
    }
    .microphone-list{
        max-height: 200px;
        padding: 5px 0px 5px 10px;
        //overflow-x: hidden;
        overflow-y: scroll;
        .list-icon{
            margin-left: 5px;
            margin-top: 4px;
        }
    }
  .microphone{
      padding: 0px 0px 1px 0px;
    >span{
      cursor: pointer;
    }
  }
    .ant-list-split .ant-list-item{
        border-bottom:none !important;
    }
}

.advertisement-box{
    width: 100%;
    img{
        width: 100%;
        height: 200px;
    }
}
/*用户图标样式*/
.user-icon img{
  width: 18px;
  height: 18px;
}

.video-ele{
  width: 100%;
  height: 70%;
}
.host-text{
  width: 100%;
  height: 30%;
  padding-top: 10px;
}