html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar-track-piece {
    background-color:#ffffff;
    /*border-left:1px solid #f1f1f1;*/
    border-radius: 2px;
}
::-webkit-scrollbar {
    width:6px;
    height:6px;
}
::-webkit-scrollbar-thumb {
    background-color:#c2c2c2;
    background-clip:padding-box;
    border:1px solid #c2c2c2;
    min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
    border:1px solid #c2c2c2;
    background-color:#c2c2c2;
}

#main{
    height: 100%;
}
.login-form {
  max-height: 300px;
  margin: auto;
  position: absolute;
  max-width: 300px;
  /* margin: 0 auto; */
  padding: 15px 15px 0 15px;
  //border: 1px solid #eee;
  /* margin-top: calc(100px + 15%); */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.login-form-input-logo{
  font-size: 13px;
  color:#97b5fb ;
}
.register-forget-box{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  a{
    display: inline-block;
  }
}
.ant-form-item-control-wrapper{
  margin-top: -5px;
}

.logo {
    position: absolute;
    height: 60px;
    color: #000;
    font-size: 15px;
    line-height: 60px;
    left: 5px;
    top: 15px;
    overflow: hidden;
}
.logo-slider {
    height: 32px;
    background: #fff;
    border-radius: 6px;
    margin: 16px;
    color: #000;
    font-size: 15px;
    line-height: 32px;
    padding-left: 5px;
    //overflow: hidden;
}
.complete_2{
    border: 1px solid green;
    color: green;
}
.complete_0{
    border: 1px solid red;
    color: red;
}
.complete_1{
    border: 1px solid #49a9ee;
    color: #49a9ee;
}
.ant-layout-header {
    //background: #108ee9;
    padding: 0 50px;
    height: 80px !important;
    line-height: 80px !important;
}
.ant-layout-footer{
    padding: 10px 5px !important;
}
.ant-layout-sider{
  overflow-y: hidden;
  overflow-x: hidden;
}
.footer{
    //padding: 10px 0px 10px 20px !important;
    textAlign: center;
    display: flex;
    justify-content: space-around;
    line-height: 100%;
    align-items:center;
  span{
    cursor: pointer;
  }
  img{
    width: 18px;
    height: 18px;
    margin-right: 1px;
  }
  .modify-username{
    display: inline-block;
    input{
      display: inline-block;
      width: 100px;
      height: 20px;
      padding: 1px;
    }
  }
  #user-name{
    display: inline-block;
    width: 100px;
    height: 20px;
  }
  .user-info{
    font-size: 14px;
    margin-right: 40px;
    top:3px;
  }
  .audio{
    width: 0px;
    height: 0px;
  }
  .sound-slider{
    display: inline-block;
    width: 100px;
    height: 20px;
  }
  .play-sound{
    img{
      width: 14px;
      height: 14px;
    }
  }
  .slider{
    border: 1px solid #eee;
  }
}

.content_show{
    width: 100%;
    height: 70%;
    background-color: white;
    overflow: hidden;
}
.ant-list-item-meta-description{
  color: #666 !important;
}
//消息展示框样式
.message-box{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.text_area{
    margin-top: 20px;
    width: 100%;
    height: 30%;
    background-color: #eee;
}


.ad-area{
    position: absolute;
    width: 100%;
  height: 25%;
    //background-color: #9fd2f6;
    bottom: 0px;
}

.ql-toolbar{
  height: 60px !important;
}
.ql-container{
  height: calc(100% - 60px) !important;
}

.ql-bg-black {
  background-color: #000;
}
.ql-bg-red {
  background-color: #e60000;
}
.ql-bg-orange {
  background-color: #f90;
}
.ql-bg-yellow {
  background-color: #ff0;
}
.ql-bg-green {
  background-color: #008a00;
}
.ql-bg-blue {
  background-color: #06c;
}
.ql-bg-purple {
  background-color: #93f;
}
.ql-color-white {
  color: #fff;
}
.ql-color-red {
  color: #e60000;
}
.ql-color-orange {
  color: #f90;
}
.ql-color-yellow {
  color: #ff0;
}
.ql-color-green {
  color: #008a00;
}
.ql-color-blue {
  color: #06c;
}
.ql-color-purple {
  color: #93f;
}

.fast_login{
    width: 100px;
    height: 60px;
    position: absolute;
    right: -30px;
    bottom: -30px;
  #we-chat{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    background-color: #eee;
  }
}


.icon_qq,.icon_wechat{
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
    color:#43a915;
}


/*频道列表*/
.channelContents{
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
.channel-list > ul > li{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 1px;
}
.channel-list > ul > li > ul > li{
    padding: 5px 1px;
    border-top: 1px solid #eee;
}
.channel-list > ul > li > ul > li > ul > li{
  padding: 4px 1px;
  //border-top: 1px solid #eee;
}
#editor{min-height:200px;}

.channel-list-box{
    position: absolute;
    top: 60px;
    width: 100%;
    min-width: 240px;
    max-width: 500px;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    z-index: 9;
}
.icon-location{
    color:#1890ff;
    font-size: 20px;
    margin-left: 2px;
}


/*富文本区域样式*/
.text_area{
  height: 25%;
  background-color: #fff;
}
.send-btn{
    position: absolute !important;
    bottom: 0px;
  right: 0px;
}


#editor{min-height:100px;}


/*麦序模块样式*/
.content-right-up{
  width: 100%;
  height: 70%;
}
.microphone_area{
  width: 100%;
  height: 100%;
    //height: 350px;
    .avatar-area{
        text-align: center !important;
        width: 100%;
        height: 300px;
        img{
            width: 100%;
            height: 260px;
        }
        .user-name{
            /*width: 150px;
            line-height: 16px;*/
            background-color: #eee;
        }
        //background-color: #9fd2f6;
    }
    .microphone-a{
        text-align: center;
        .online-total{
            padding: 0px 0px 8px 0px;
        }
    }
    .microphone-list{
        max-height: 200px;
        padding: 5px 0px 5px 10px;
        //overflow-x: hidden;
        overflow-y: scroll;
        .list-icon{
            margin-left: 5px;
            margin-top: 4px;
        }
    }
  .microphone{
      padding: 0px 0px 1px 0px;
    >span{
      cursor: pointer;
      >span{
        color:#428cff;
      }
    }
  }
    .ant-list-split .ant-list-item{
        border-bottom:none !important;
    }
}

.advertisement-box{
    width: 100%;
    img{
        width: 100%;
        height: 200px;
    }
}
/*用户图标样式*/
.user-icon img{
  width: 18px;
  height: 18px;
}

.video-ele{
  width: 100%;
  height: 70%;
}
.host-text{
  width: 100%;
  height: 30%;
  padding-top: 10px;
}
.upload-btn{
  #file-input{
    width: 0px;
    height: 0px;
    //display: none;
    border: 1px solid #fff;
    outline: none;
  }
  label{
    padding: 5px 8px;
    border: 1px solid #ccc;
  }
}
#pre-show{
  margin-top: 20px;
  img{
    width: 200px;
    height: 250px;
  }
}

/*
搜索框*/

.result-ul{
  cursor: pointer;
  width: 150px;
  li:hover{
    background-color: #1890ff;
  }
  .no-match:hover{
    background-color: #fff;
  }
}

//换皮肤logo
.changeskin-logo{
  img{
    width: 20px;
    height: 20px;
  }
}
//设置换皮肤弹窗 颜色块的高度
.ant-popover-content .ant-list-item-content{
  height: 30px;
}


//右键菜单选项样式
.right-click{
  display: flex;
  justify-content: left;
  z-index: 10;
}
.right-panel,.right-panel-item{
  cursor: pointer;
  .ant-list-item:hover{
    background-color: #1890ff;
  }
}
.ant-card-bordered{
  z-index: 10;
  height: 100% !important;
  cursor: pointer;
}


//点房间头像后房间设置样式,小叶写

.menu-logo {
  cursor: pointer;
  img {
    vertical-align: bottom;
    height: 20px;
    padding-right: 10px;
  }
}
.room-manage-dialog{
  width: 100%;
  height: 100%;
  text-align: center;
  //border-right: 1px solid #cccccc;
  .room-manage-list{
    //margin: 15px 0px 5px 0px;
    padding-top: 15px;
    padding-bottom: 50px;
  }
  img{
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
  }
  button{
    margin-top: 10px;
    margin-bottom: 60px;
    color: #49a9ee;
    border: none;
    cursor: pointer;
  }
  .manager-set{
    cursor: pointer;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-color: #d3e9ff;
  }
  .blacklist-set{
    cursor: pointer;
    width: 100%;
    height: 20px;
    line-height: 20px;
    //background-color: #d3e9ff;
  }
}
.room-manage-table{
  border-left: 1px solid #cccccc;
}
//创建房间input样式
.create-room{
  .input-style{
    width: 200px !important;
  }
  label{
    margin: 15px 0px !important;
  }
  .ant-select-selection{
    background: none !important;
    color: #fff;
  }
}
//左侧边拉伸条
.ui-resizable{
  position: absolute;
  right: 0px;
  top:0px;
  width: 6px;
  height: 100%;
  background-color: #cccccc;
  //background-attachment: scroll;
  z-index: 10;
  //-webkit-overflow-scrolling:touch;
  cursor: ew-resize;
}

//撤回消息按钮
#withdraw{
  position: fixed;
  cursor: pointer;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #eee;
  border-radius: 3px;
  text-align: center;
  color: rgba(0,0,0,.5);
}